.validGst {
  color: green;
}
.inValidGst {
  color: red;
}
.profileCards:hover {
  cursor: default;
}
.personalDetails_card {
  border: 1px solid #05007e !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.personalDetails_card :hover {
  background-color: #ffffff !important;
  cursor: default;
}
.textBlue {
  color: #05007e;
}
